{% extends 'includes/base.html' %}
{% load static %}
{% block content %}

{% include 'includes/navbar.html' %}

<section id="product_details">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="text-center my-5">
                <h5 class="display-5 text-secondary">Product Details</h5>
            </div>

            <div class="col-12 col-lg-4 d-flex justify-content-center">
                <div class="card" style="width: 300px;"> <!-- Adjusted width for better alignment -->
                    <img  src="{{ product_details.image.url }}" alt="Product Image" class="card-img-top mb-0">
                </div>
            </div>

            <div class="col-12 col-lg-4 d-flex justify-content-center">
                <div class="card border-0">
                    <div class="card-body text-start">
                        <h5 class="card-title text-md-start">{{ product_details.title }}</h5>
                        <h5 class="card-title text-md-start">K{{ product_details.price }}</h5>
                        <p class="card-text">
                            {% for i in "12345" %}
                                <i class="bi bi-star-fill text-warning"></i>
                            {% endfor %}
                        </p>
                        <p class="card-text text-md-start">{{ product.description }}</p> <!-- Product description displayed here -->

                        <div>
                            <div class="mb-3">
                                <a href="{% url 'cart' %}" class="btn btn-secondary">Add To Cart</a>
                            </div>
                            <div class="mb-3">
                                <a href="{% url 'buy_now' id=product_details.id %}" class="btn btn-outline-secondary btn-sm">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}
